<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup page</title>
    <link rel="stylesheet" href="signin.CSS"/>
    <style></style>
</head>
<body>
    <section id="signup-section">
    <header class="header1">
        <h1 id="signup-header">Sign up to become a Techlancer</h1>
    <form action="">
    <div id="signup-names">
      <div class="signup-form" id="First-last-name-signup-form">
        <input type="text" placeholder="First Name"> <input type="text" placeholder="Last Name">
      </div>
      </div>
        <div class="signup-form" id="signup-email-address">
          <input type="text" placeholder="Email Address">
        </div>
            <div class="signup-form" id="signup-username">
                <input type="text" placeholder="Username">
             </div> 
                <div class="signup-form" id="signup-password">
                   <input type="text" placeholder="Password">
                </div> 
                   <div class="signup-form" id="signup-confirm-password">  
                       <input type="text" placeholder="Confirm-Password">
                   </div>
                       <div class="signup-form" id="signup-nationality">     
                          <input type="text" placeholder="Nationality">
                       </div> 
                           <div class="signup-form" id="signup-Terms">                        
                             <input type="checkbox" id="signup-checkbox" name="signup-checkbox" value="">
                             <label for="signup-checkbox">Yes, I understand and agree to the TRUSS <a href="a"> Terms & Condition</a> and <a href="a"> Privacy Policy</a></label>
                            </div> 
                               <div class="signup-form" id="signup-create-account">
                                   <input type="submit" value="Create Account">
                                </div> 
                                     <div class="signup-form" id="account">
                                        <p> Already have an Account? <a href="a">log in here</a></p>
                                      </div>
         </form>
        </section>
         </header>
        </body>
        </html>